body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #965d03;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    padding: 20px;
}

.syllabus-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    background-color: #965d03;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
